$screen-size-small: 576px;
$screen-size-medium: 768px;
$screen-size-large: 992px;
$screen-size-extra-large: 1200px;

$fontColour: #8892b0;
$fontColourLight: #a8b2d1;
$fontColourLighter: #ccd6f6;
$fontColourHighlight: #84ade5;

$backgroundColour: #0a192f;
$backgroundColourLight: #112240;

$fontFamily: 'Calibre','Inter','San Francisco','SF Pro Text', -apple-system, system-ui, sans-serif;
$monoFontFamily: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;