<heading [header]="'About Me'"></heading>

<div class="overview">
    <div class="overview__content">
        <p>
            My programming journey began in 2011, during my school years, when I first encountered coding at an after-school club. What started as a casual interest quickly grew into a passion, leading me to pursue a degree in computer science.
        </p>

        <p>
            Since graduating in 2019, I've had the opportunity to work at a Car Finance company, collaborating with clients worldwide. My primary focus is on developing scalable and maintainable products that deliver a seamless digital experience for our customers.
        </p>

        <p>
            Recently, I've started sharing examples of performance-critical issues I've tackled, highlighting the changes implemented and the resulting improvements.
        </p>

        <p>
            Here are a few technologies I’ve been working with recently:
        </p>

        <ul class="overview__content__list">
            <li *ngFor="let skill of data.skills">
                <small>{{skill}}</small>
            </li>
        </ul>

        <p>
            Here are the clients I’ve been working with recently:
        </p>

        <ul class="overview__content__list">
            <li *ngFor="let client of data.clients">
                <small>{{client}}</small>
            </li>
        </ul>
    </div>

    <div class="overview__image">
        <picture>
            <source srcset="{{data.basics.image.large}}" media="(min-width: 992px)"> <!-- Width taken from varaibles.scss -->
            <source srcset="{{data.basics.image.medium}}" media="(min-width: 768px)"> <!-- Width taken from varaibles.scss -->
            <img loading="lazy" decoding="async" src="{{data.basics.image.small}}" alt="Image of Matthew Sutton">
        </picture>
    </div>
</div>
